extends layout

block content
  div.this-article(style='background-image: url(article.url)')
    div.this-header
      h2=article.title
      h2
        a.edit(href='/articles/'+article._id+'/edit') Edit
    div.this-body
      =article.body
