
body {
  padding: 0px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/congruent_outline.png');
}

a {
  color: #00B7FF;
}

.header {
  background-image: url('../images/main_header_bkrd.jpeg');
  /*text-align: center;*/
  height: 170px;
  margin-bottom: 20px;
}

.header h1 {
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin-top: 62px;
}

.new-article, .edit-article {
  padding: 20px;
  /*margin-top: 20px;*/
  background-color: #fff;
}

.new-article h1, .edit-article h1 {
  border-bottom: solid #cccccc 1px;
}

.new-article div, .edit-article div {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

input[type='submit'], input[type='checkbox'] {
  margin-left: 200px;
}

input[type='text'], textarea {
  width: 60%;
}

textarea {
  height: 100px;
  border-color: #cccccc;
}

#bkrd-color + label {
  display: inline;
  margin-left: 5px;
}

.this-article-preview {
  height: 170px;
  border: solid white;
}
.this-header {
  height: 40%;
  border: solid blue;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}
.this-excerpt, .this-body {
  height: 60%;
  background-color: #fff;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 20px;
  border: solid green;
}

.this-article h2 {
  display: inline;
}

.bkrd-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.edit {
  display: inline;
  float: right;
}

.delete {
  color: white;
  background-color: red;
  border: solid #920000 2px;
}

.error {
  color: red;
  margin-left: 200px;
}
